.root {
  background: #000;
  padding-top: 88px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.footer_line {
  width: 100%;
  border: 1px solid #ffffff;
}

.info {
  color: #ffffff;
  padding-top: 39px;
  padding-bottom: 71px;
}